# Ignore pycache
__pycache__/

# Ignore migrations
*/migrations/

# Ignore command run logs
.commands_run

# Ignore media folder
/media/

# Ignore macOS created files
.DS_store

# Ignore trademarks-base (python) Dockerfile
pyDockerfile

# Ignore environment files
# .env

# # Ignore dev container config
# .devcontainer.json