# Ignore all pycache folders
**/__pycache__/

# Ignore all macOS created files
**/.DS_Store

# Ignore media + logs + static folders
/media/
/logs/
staticfiles
xpose

# Ignore all migrations folders
# **/migrations/

# # Ignore command run logs
# .commands_run

# # Ignore trademarks-base (python) Dockerfile
# pyDockerfile

# # Ignore trademarks-base (python) requirements.txt file
# requirements.txt

# # Ignore environment files
# .env

# # Ignore dev container config
# .devcontainer.json