/* General styles */
* {
    box-sizing: border-box;
    font-family: 'Shabwa', sans-serif !important;
    direction: rtl;
}

:root {
    --title: #042546;
    --body: #f6f7f98b;
    --htitle: #88c1fa;
    --hbody: #dee8ffdb;
}

@font-face {
    font-family: 'Shabwa';
    font-weight: 400; /* Regular */
    font-style: normal;
    src: url('../fonts/Shabwa.ttf') format('truetype');
}

@font-face {
    font-family: 'Shabwa';
    font-weight: 600; /* Medium */
    font-style: normal;
    src: url('../fonts/Shabwa-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Shabwa';
    font-weight: 800; /* Bold */
    font-style: normal;
    src: url('../fonts/Shabwa-Bold.ttf') format('truetype');
}

input[dir="rtl"] {
    text-align: right;
    direction: rtl;
    unicode-bidi: plaintext;
}

input[dir="rtl"]::placeholder {
    text-align: right;
    color: #484848;
}

input[type="number"] {
    text-align: right !important;
    direction: rtl !important;
    unicode-bidi: plaintext !important;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100% !important;
    background-color: var(--body);
}

/* Titlebar Style */
.titlebar {
    background-color: var(--title);
    height: 7vh;
}

/* Titlebar Text */
.titlebar h1 {
    font-size: 23px;
    flex: 1;
    padding: 0px 10px 0px 0px;
    color: white;
    transition: font-size 0.3s;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

@media (max-height: 600px) {
    .titlebar h1 {
        font-size: 20px;
    }
}    

/* Titlebar Button */
.menu-toggle {
    background-color: var(--title);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 15px;
    transition: background-color 0.3s, transform 0.1s;
    width: auto;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.menu-toggle:hover {
    background-color: var(--body);
    color: black;
}

.menu-toggle:active {
    transform: scale(0.95);
}

/* Container Fluid Layout */
.layout {
    flex-grow: 1;
}

/* Main Content */
.main-content{
    display: flex;
    flex-direction:column;
    flex-grow: 3;
}

/* Sidebar Design */
#sidebar {
    background-color: white;
    color: black;
    width: 300px;
    transition: width 0.5s ease-in-out;
    overflow: hidden;
    flex-grow: 0;
    box-shadow: -2px 0 5px -4px rgba(81, 81, 81, 0.5);
    white-space: nowrap;
    border-radius: 0 !important;
}

#sidebar.closed {
    width: 0 !important;
    overflow: hidden;
}

.list-group-item {
    border: none !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    height: 60px !important;
    display: flex;
    align-items: center;
}

.accordion-button {
    align-items: start !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    border: none !important;
    height: 60px !important;
    align-items: center;
}


.accordion-button:not(.collapsed) {
    background-color: var(--body) !important;
}


@media (max-width: 750px) {
    #sidebar {
        width: 0;
        overflow: hidden;
    }
}


.button-group{
    padding: 10px;
}


.checkbox-inline {
    display:inline-flex;
    margin-left: 5px;
    margin-right: 10px;
}


.alert {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


#id_year {
    direction: rtl;
}


.option-separator {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}


.option-separator:last-of-type {
    border-bottom: none;
}


.card {
    --bs-card-border-radius: 0px !important;
}

.dropdown-menu.show{
    --bs-dropdown-min-width: 94px;
    overflow-x:visible;
}


.table>tbody>tr:nth-child(odd)>td, 
.table>tbody>tr:nth-child(odd)>th {
    --bs-table-bg-type: white;
}


.table>tbody>tr:nth-child(even)>td, 
.table>tbody>tr:nth-child(even)>th {
    --bs-table-bg-type: whitesmoke;
}


.table thead th {
    background-color: whitesmoke;
    font-size: 20px;
    transition: font-size 0.3s;
}


@media (max-width: 880px) {
    .table thead th {
        font-size: 14px;
    }
}


@media (max-width: 720px) {
    .table thead th {
        font-size: 12px;
    }
}


@media (max-width: 800px) {
    .table tbody tr td {
        font-size: 14px !important;
    }
}


@media (max-width: 720px) {
    .table tbody tr td {
        font-size: 12px !important;
    }
}


.table tbody tr td {
    border-style: none;
    font-size: 20px;
    transition: font-size 0.3s;
}


/* .pressed{
    background:var(--body);
    box-shadow: inset -3px 0px 8px #c1c1c1;
    outline: none;
} */


/* Target the text element inside Plotly's hover layer */
.hoverlayer .hovertext text {
    text-anchor: end !important;
    direction: rtl !important;
    font-size: 14px !important;
    font-family: 'Shabwa', sans-serif !important;
}


th a {
    text-decoration: none;
    color: inherit;
}


th a::after {
    font-family: "bootstrap-icons";
    content: "\F238";
    font-size: 14px;
    margin-right: 3px;
}


th.asc a::after {
    content: "\F235";
}


th.desc a::after {
    content: "\F229";
}


#modelTabsContent {
    visibility: hidden;
}


#publication-details {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.9s ease, transform 0.9s ease;
    display: none;
}

#publication-details.show {
    opacity: 1;
    transform: translateY(0);
    display: block;
}


form label {
    font-weight: 600;
}


.is-placeholder {
    background-color: rgba(255, 0, 0, 0.1);
    font-weight: bold;
}


.card_text_big {
    font-size: 24px;
}

