{% extends 'base.html' %}
{% load static %}

{% block extra_head %}

{% endblock %}

{% block content %}

    <div class="row">
        <!-- Left Column: publication Details -->
        <div class="col-md-7">
            <div class="card border-light shadow">
                <div class="card-header text-bg-primary text-center pe-5">
                    <h5 class="card-title h3 mb-0">تفاصيل الاشهار</h5>
                </div>
                <div class="card-body h4">
                    <p><strong>سنة الاشهار: </strong> {{ publication.year|default:"-" }}</p>

                    <p><strong>رقم الاشهار: </strong> {{ publication.number|default:"-" }}</p>

                    <p><strong>رقم القرار: </strong> {{ publication.decree|default:"-" }}
                        {% if decree and decree.pdf_file %}
                            <a href="{{ decree.pdf_file.url }}" class="ms-1" download>
                            <i class="bi bi-file-earmark-pdf"></i>
                            </a>
                        {% endif %}
                    </p>
                    <p><strong>الحالة: </strong> {{ publication.get_status_display|default:"-" }}</p>

                    <p><strong>طالب التسجيل: </strong> {{ publication.applicant|default:"-" }}</p>

                    <p><strong>مالك العلامة: </strong> {{ publication.owner|default:"-" }}</p>

                    <p><strong>الدولة: </strong> {{ publication.get_country_display|default:"-" }}</p>
                    <p></p>

                    <p><strong>تاريخ التقديم: </strong> {{ publication.date_applied|date:"d-m-Y" }}</p>
                    <p></p>

                    <p><strong>العلامة التجارية (عربي): </strong> {{ publication.ar_brand|default:"-" }}</p>
                    <p></p>

                    <p><strong>العلامة التجارية (إنجليزي): </strong> {{ publication.en_brand|default:"-" }}</p>
                    <p></p>

                    <p><strong>الفئة: </strong> {{ publication.category|default:"-" }}</p>
                    <p></p>

                    <p><strong>رقم النشرية: </strong> {{ publication.e_number|default:"-" }}</p>
                    <p></p>

                    <p><strong>تاريخ النشر: </strong> {{ publication.created_at|date:"d-m-Y" }}</p>
                    <p></p>

                    {% if publication.attach %}
                        <p><strong>الملف المرفق: </strong></p>
                        <a href="{{ publication.attach.url }}" class="btn btn-outline-primary btn-sm" download>تحميل المرفق</a>
                    {% endif %}
                    <br>
                    <p><strong>ملاحظات:</strong></p>
                    <p>{{ publication.notes|default:"" }}</p>
                </div>
            </div>

            <div class="mt-4 mb-4">
                {% if publication.status <= 2 %}
                <a class="btn btn-outline-success me-2" href="{% url 'gen_pub_pdf' publication.id %}" title="تحميل الاشهــار">
                    <i class="bi bi-file-earmark-pdf me-2 h4"></i> تحميل الاشهــار
                </a>
                {% endif %}
                {% if publication.status == 3 %}
                <a class="btn btn-outline-success me-2" href="{% url 'gen_final_pub_pdf' publication.id %}" title="تحميل شهادة التسجيــل">
                    <i class="bi bi-file-earmark-check me-2 h4"></i> تحميل شهادة التسجيــل
                </a>
                {% endif %}
                {% if publication.status == 1 %}
                    {% if perms.documents.change_publication %}
                    <a class="btn btn-outline-primary me-2" href="{% url 'edit_publication' publication.id %}" title="تعديــل">
                        <i class="bi bi-pencil-square me-2 h4"></i> تعديــل
                    </a>
                    {% endif %}
                {% endif %}
                <a class="btn btn-secondary me-2" href="javascript:history.back()" title="رجـــوع">
                    <i class="bi bi-arrow-return-left text-light me-2 h4"></i> رجـــوع
                </a>
            </div>
        </div>

        <!-- Right Column: PDF Preview -->
        <div class="col">
            <div class="card border-light shadow">
                <div class="card-header text-bg-primary text-center pe-5">
                    <h5 class="card-title h3 mb-0">معاينة صورة العلامة</h5>
                </div>
                <div class="card-body">
                    {% if publication.img_file %}
                        <div id="image-viewer-container" class="border rounded p-2 text-center">
                            <img src="{{ publication.img_file.url }}" alt="معاينة الوثيقة" class="img-fluid rounded">
                        </div>
                    {% else %}
                        <p class="text-muted">لا يوجد صورة لهذه الوثيقة</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
