{% load static %}
{% if request.user.is_authenticated %}
<div class="d-flex gap-2 align-items-center justify-content-end">
    {% if record.is_placeholder %}
        <span class="text-danger" title="هذا القرار تم ادخاله تلقائيا مع اشهار ويحتاج الى تعديل بيانات"><i class="bi bi-exclamation-circle text-warning"></i> </span> <!-- Display an asterisk with alt text -->
    {% endif %}
    <!-- PDF Icon (Always Visible) -->
    {% if perms.documents.download_doc %}
    {% if record.pdf_file %}
        <a href="{% url 'download_decree' record.id %}" title="تحميل"><i class="bi bi-file-earmark-arrow-down-fill" style="font-size: 36px;"></i>
        </a>
    {% else %}
        <span title="لا يوجد ملف pdf" class="disabled">
            <i class="bi bi-file-earmark-arrow-down-fill" style="opacity: 0.2; font-size: 36px;"></i>
        </span>
    {% endif %}
    {% endif %}

    <!-- Use the icon itself as the dropdown trigger -->
    <div class="dropdown-center">
        <a href="#" class="action-icon" id="actionDropdown{{ record.id }}" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots-vertical text-dark"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="actionDropdown{{ record.id }}">
            <li>
                <a class="dropdown-item" href="{% url 'view_decree' record.id %}" title="عرض">
                    <i class="bi bi-binoculars-fill text-dark me-1" style="font-size: 22px;"> </i> عرض
                </a>
            </li>
            {% if perms.documents.change_decree %}
            <li>
                <a class="dropdown-item" href="{% url 'edit_decree' record.id %}" title="تعديل">
                    <i class="bi bi-pencil-square text-dark me-1" style="font-size: 22px;"> </i> تعديل
                </a>
            </li>
            {% endif %}
            {% if user.is_superuser %}
            <li>
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal"
                    data-doc-id="{{ record.id }}" data-doc-number="{{ record.number }}">
                    <i class="bi bi-x-octagon text-danger me-1" style="font-size: 22px;"> </i> حذف
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}
